<form method="POST" action="/ip">
	<input type="submit" name="ip" value="ip phish">
</form>
<br>
<form method="POST" action="/mal">
	<input type="submit" name="mal" value="malware check">
</form>
<br>
<form method="POST" action="/it">
	<input type="submit" name="it" value="iterator">
</form>
