<h1>Results</h1>
<p><textarea name="results" rows="20" cols="60">
  <% res.each do |r| %>
  <%= r %>
  <% end %>
</textarea></p>
<br>
<form method="POST" action="/it">
	<input type="submit" name="back" value="Return">
</form>
